<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Model</span>
    <a
      b-slate-link
      href="hhttps://console.anthropic.com/docs" target="_blank"
    >
      Claude
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="#" target="_blank"
    >
      08/04/23 UPDATED
    </a>
  </p>
</footer>
